<div class="more js_home-more">
  <div class="more__animation">
    <div class="more__box">
      <p class="more__title text__bold">好友助力PK赛</p>
      <div class="more__text">
        <p class="text">
          <span class="more__date">2019/1/11 — 2019/1/20</span>期间<br />
          会员分享宝贝“vipJr 2018年度成长故事” 
          <br />
          并成功邀请亲友首次注册 vipJr 领取体验课，
        </p>
        <p class="text">邀请总人数排名<span class="more__red"><span class="bold">前20位</span></span>的会员，可获<br />
        <span class="more__red">Oxford定制款公仔1个（价值500元）</span></p>
        <p class="text">Tips：此活动会员每邀请1位亲友首次注册 vipJr 领取体验课也会有200积分奖励哦！</p>
        <div class="pic"></div>
        <p class="text-sm">更多活动详情请见“更多奖励”按钮</p>
      </div>
      <span class="more__btn">{{btnText}}</span>
    </div>
  </div>
</div>