<section 
  class="share-fixed js_share-fixed" 
  data-0="display: block;" 
  data-9600="display: none;"
>
  <img class="share__gif" src="{{src}}" alt="">
  <p class="share__text">领取免费体验课</p>
</section>