<div class="more js_more-test show">
  <div class="more__animation">
    <div class="more__box">
      <p class="more__title text__bold">{{title}}</p>
      <div class="more__body">
        {{desc}}
      </div>
      <span class="more__btn">{{btnText}}</span>
    </div>
  </div>
</div>