<div class="bg-color"></div>
<div class="plane"></div>
<div class="bg-img"></div>
{{!-- 文字内容 --}}
<section class="text-wrap">
    <p class="text">这一年，你收获了这些“小成就”：</p>
    <div class="text-block">
        <p class="text">上课时长：<span class="bold">{{content.TotalLong}}分钟</span></p>
        <p class="text">级别达到：<span class="bold">Level{{content.nlevel}}</span></p>
        <p class="text">出席堂数：<span class="bold">{{content.AHCNT}}堂</span></p>
        <p class="text">最勤奋月：<span class="bold">{{content.MostDiligentMonth}}月</span></p>
        <p class="text">给自己一个大大的赞吧~</p>
        <p class="text__small">（注：数据统计截止到2018/12/31）</p>
    </div>
</section>
<div class="bus"></div>
<div class="tree tree-right"></div>
<div class="tree tree-left"></div>