<div class="bg-img"></div>
<div class="bg-house"></div>
<div class="teacher"></div>
<div class="cow-wrap">
    <div class="cow"></div>
</div>
<div class="child-wrap">
    <div class="child"></div>
</div>
{{!-- 文字内容 --}}
<section class="text-wrap">
    <p class="text">还记得“2018首课回忆”吗？</p>
    <p class="text text-red time"> {{content.FirstAttendDateFormat}} </p>
    <p class="text text-red">《{{content.FirstSessionName}}》</p>
    <p class="text">这是你在2018年上的第一堂课，</p>
    <p class="text"><span class="text-red"> {{content.FirstConName}} 老师 </span><br />开启了这趟趣学之旅~</p>
</section>
<div class="lantern"></div>