<div class="bg-color"></div>
<div class="mount"></div>
<div class="pool"></div>
<div class="sun"></div>

<div class="person"></div>
<div class="pen-wrap">
    <div class="pen"></div>
</div>

{{!-- 荷花 --}}
<div class="lotus-left"></div>
<div class="lotus-right"></div>
<div class="lotus-leaf"></div>

<section class="text-wrap">
    {{!-- <p class="text">优秀孩子的背后总有一对伟大的爸妈！</p>
    <p class="text">爸爸妈妈共提交<span class="bold">{{content.EvaluationCNT}}</span>次课后评鉴，帮助孩子更好地成长。</p> --}}

    <p class="text">当然，这一年的成长也离不开<br /><span class="bold">“爸爸妈妈的陪伴”！</span></p>
    <p class="text">他们为你共提交了<br />
    <span class="bold">{{content.EvaluationCNT}}</span>次课后评鉴<br />
    一直默默支持着你哟~</p>
</section>
