<div class="more js_more">
  <div class="more__animation">
    <div class="more__box">
      <p class="more__title text__bold">好友助力PK赛</p>
      <div class="more__text">
        <p class="text">
          <span class="more__date">2019/1/11 — 2019/1/20</span>期间<br />
          会员分享宝贝“vipJr 2018年度成长故事” 
          <br />
          并成功邀请亲友首次注册 vipJr 领取体验课，
        </p>
        <p class="text">邀请总人数排名<span class="more__red"><span class="bold">前20位</span></span>的会员，可获<br />
        <span class="more__red">Oxford定制款公仔1个（价值500元）</span></p>
        <p class="text">Tips：此活动会员每邀请1位亲友首次注册 vipJr 领取体验课也会有200积分奖励哦！</p>
        <div class="pic"></div>
        <ul class="more__ul">
          <li class="more__list text__bold">活动说明：</li>
          <li class="more__list">1.此次活动仅限vipJr英语在期会员或英语合约到期日在2018年09月30日-2018年12月31日之间，同时满足2018年出席堂数 >5的vipJr客户方可参加（其中出席堂数：牛津用户不含精华讲座，非牛津用户不含精选录像）；</li>
          <li class="more__list">2.奖励将在活动结束后的10个工作日内寄送；</li>
          <li class="more__list">3.活动最终获奖名单将于2019年01月21日在vipJr服务号公布；</li>
          <li class="more__list">4.活动最终解释权归vipJr所有。</li>
        </ul>
      </div>
      <span class="more__btn">{{btnText}}</span>
    </div>
  </div>
</div>