<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>vipJr2018年度成长故事</title>
</head>

<body>
    <article class="main">
        <section 
            class="screen screen-1"
            data-0="top: 0%;"
            data-1500="top: 0%;"
            data-2167="top: -100%; display: block;"
            data-2168="display: none;"
        >
        </section>

        <section 
            class="screen screen-2"
            data-1500="top: 100%;"
            data-2167="top: 0%;"
            data-2800="top: 0%;"
            data-3467="top: -100%; display: block;"
            data-3468="display: none;"
        >
        </section>

        <section 
            class="screen screen-3"
            data-2800="top: 100%;"
            data-3467="top: 0%;"
            data-3800="top: 0%;"
            data-4467="top: -100%; display: block;"
            data-4468="display: none;"
        >
        </section>

        <section 
            class="screen screen-4"
            data-3800="top: 100%;"
            data-4467="top: 0%;"
            data-4900="top: 0%;"
            data-5567="top: -100%; display: block;"
            data-5568="display: none;"
        >
        </section>

        <section 
            class="screen screen-5"
            data-4467="top: 100%;"
            data-4900="top: 0%;"
            data-6100="top: 0%;"
            data-6767="top: -100%; display: block;"
            data-6768="display: none;"
        >
        </section>

        <section 
            class="screen screen-6"
            data-6100="top: 100%;"
            data-6767="top: 0%;"
            data-7300="top: 0%;"
            data-7967="top: -100%; display: block;"
            data-7968="display: none;"
        >
        </section>

        <section 
            class="screen screen-7"
            data-7300="top: 100%;"
            data-7967="top: 0%;"
            data-8400="top: 0%;"
            data-9067="top: -100%; display: block;"
            data-9068="display: none;"
        >
        </section>

        <section 
            class="screen screen-8"
            data-8400="top: 100%;"
            data-9067="top: 0%;"
            data-10000="top: 0%;"
        >
        </section>
    </article>
    
    <!-- 生成证书页 -->
    <section class="screen report" id="report"></section>
    <div class="down js_down"><i class="down-icon"></i></div>
    
    <!-- 截屏容器 -->
    <section class="screenshot"></section>
    <!-- 图片资源 -->
    <section class="collection-img" style="display: none;">
        <img src="https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/AnnualReview2018/screen-8/share.png" alt="">
        <img src="https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/AnnualReview2018/screen-8/cow-pillow4.jpg" alt="">
    </section>

    <script src="//source.tutorabc.com.cn/Ext/js/lib/jquery-1.11.1.min.js"></script>
</body>

</html>