<div class="alert js_alert">
  <div class="alert__animation">
    <div class="alert__box">
      <p class="alert__title">{{title}}</p>
      <p class="alert__desc">{{desc}}</p>
      <span class="alert__btn">{{btnText}}</span>
    </div>
  </div>
</div>