<div class="bg-color"></div>
<div class="cloud-left"></div>
<div class="cloud-right"></div>

<div class="balloon balloon-1"></div>
<div class="balloon balloon-2"></div>
<div class="balloon balloon-3"></div>
<div class="ballon-wrap">
    <div class="balloon balloon-4"></div>
</div>

<div class="prospect"></div>
<div class="person"></div>
<div class="cloud-color"></div>

<section class="text-wrap">
    <p class="text">
        还有一些精彩小片段值得珍藏：
    </p>
    <p class="text">你完成了<span class="bold">{{content.HomeworkCNT}}</span>次作业</p>
    <p class="text">最喜欢在<span class="bold">{{content.ClassTimes}}</span>学习</p>
    <p class="text">和<span class="bold">{{content.Classmates}}</span>名同学有过交集</p>
    <p class="text">精彩未完待续，惊喜即将开启~</p>
</section>