
{{!-- 证书 --}}
<div class="certificate">
    <div class="medal">
        <img class="medal-img" src="{{ClientTitle}}" alt="">
    </div>
    <div class="cow"></div>
    <div class="text-main">
        <p class="text-top"><span class="text-name js_user-name">{{userInfo.cname}}</span>小朋友：</p>
        <p class="text-top">Congratulations！</p>
        <p class="text">恭喜你圆满完成2018年的学习。</p>
        <p class="text">vipJr特别授予你<span class="text-red">{{content.ClientTitle}}</span>称号！</p>
        <p class="text">你的努力超过了<span class="text-red">{{content.BeyondPercent}}%</span>的小朋友，</p>
        <p class="text">希望你2019年继续加油，</p>
        <p class="text">vipJr将陪伴你一路成长。</p>
    </div>
</div>
<p class="cre-text">
    2019和我一起加入vipJr,
    <br />
    助力孩子能说会考当学霸！
</p>
<div class="qrcode" id="qrcode"></div>